<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="flex.css" />
  </head>
  <body>
    <!-- div 디폴트 배치는 세로-->
    <!-- 가로로 배치하고 싶으면 display : inline-block;-->
    <!-- 최적화된 사이트 검색을 위해서 시맨틱 태그(p, header, footer, span...)를 준수하자-->
    <div class="container">
      <div class="col">
        <h2>크로스핏</h2>
        <div class="caption">
          <p>
            크로스핏은 2000년대 미국에서 그래스 글래먼스과 로런 제나이에 의해
            설립된 피트니스단체 상당히 힘들다 재밌다
          </p>
          <!-- button 태그 디폴트는 submit-->
          <button type="button">Know More</button>
        </div>
        <img src="../images/img1.png" alt="크로스핏" />
      </div>

      <div class="col">
        <h2>웨이트 훈련</h2>
        <div class="caption">
          <p>
            같은 부위에 운동을 휴식 없이 연속적을 4~6개 정도 실시하는 훈련볍으로
            하누 부위의 근육을 완전히 지치게 하기 위한 운동이다 혈관의 확장과 근
            지구력을 높여주며 높은 칼로리 소모가 특징이다
          </p>
          <!-- button 태그 디폴트는 submit-->
          <button type="button">Know More</button>
        </div>
        <img src="../images/img2.png" alt="크로스핏" />
      </div>

      <div class="col">
        <h2>요가</h2>
        <div class="caption">
          <p>
            고대 인도에서 널리 행해진 종교적 실천법. 심신의 통일, 훈련 등에
            물질의 속박에서 자유로워 지는것을 목표로함
          </p>
          <!-- button 태그 디폴트는 submit-->
          <button type="button">Know More</button>
        </div>
        <img src="../images/img3.png" alt="크로스핏" />
      </div>
    </div>
  </body>
</html>
